.redes-sociales-logo{
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.argentina-programa-logo{
    width: 170px;
    margin-left: 10px;
}

.boton-login{
    margin-right: 10px;
}

h1,h2, p{
    color:#fdffff;
    text-align: center;
}
.presentacion{
    height: 90vh;
    background-image:url("img/banner-2.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 400px;
}

::-webkit-scrollbar {
    display: none;
}

.educacion{
    height: 100vh;
    background-color: #fdffff;
}
.titulo-educacion{
    color: black;
}

.logo-unse{
    width: 250px;
}

/*corregir*/
@media only screen and (max-width: 1070px){
    .presentacion{
        padding: 0px 200px;
    }
}

@media only screen and (max-width: 594px){
    .presentacion{
        padding: 0px 100px;
    }
}

@media only screen and (max-width: 369px){
    .presentacion{
        padding: 0px 0px;
    }
}
