.redes-sociales-logo{
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.argentina-programa-logo{
    width: 170px;
    margin-left: 10px;
}

.boton-login{
    margin-right: 10px;
}

h1,h2, p{
    color:#fdffff;
    text-align: center;
}
.presentacion{
    height: 90vh;
    background-image:url("img/banner.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 400px;
}

::-webkit-scrollbar {
    display: none;
}

.educacion{
    height: 100vh;
    background-color: #fdffff;
}
.titulo-educacion{
    color: #212427;
    padding: 1rem;
}

.informacion-academia{
    text-align: left;
    color: #212427;
    margin-bottom: 1px;
}
.card{
    margin: 0.5rem;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
}

.logo-educacion{
    flex-basis: 15%;
    margin-right: 2.5%;
}

.logo-instituciones{
    width: 15rem;
}

img.logo-instituciones.codearock-logo{
    border-radius: 15px;
}

.detalle-academia{
    text-align: left;
    color: #212427;
    font-size: 0.8rem;
}

@media only screen and (max-width: 1070px){
    .presentacion{
        padding: 0px 200px;
    }
}

@media only screen and (max-width: 594px){
    .presentacion{
        padding: 0px 100px;
    }
}

@media only screen and (max-width: 369px){
    .presentacion{
        padding: 0px 0px;
    }
}
